langgraph
langgraph-sdk
langchain-core
langchain-community
langchain-experimental
langsmith
langchain-openai
langchain-anthropic
langchain-fireworks
langchain-mistralai
langchain-pinecone
vlite
langchain-qdrant
tavily-python
tiktoken
IPython
python-dotenv
aiohttp
rich
tqdm
pytest
langserve[server]
langchain-chroma
uvicorn
fastapi